pre,
code {
  font-family: "CMU Typewriter Text", monospace;
  font-size: 0.8em;
  font-style: normal !important;
}

// Inline code styling
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  > code {
    background-color: black;
    padding: 0.1rem 0.27rem;
    border-radius: 3px;
    border: 1px solid rgba(white, 0.5);
  }
}

// Inline code link styling
a > code {
  color: #90bcff;
}

pre {
  background: rgb(25, 25, 25);
  border-radius: 7px;
  padding: 1em;

  code {
    font-size: 1em;
    border: 0;
    background-color: transparent !important;
    white-space: pre-wrap;
  }
}
